<section class="ui raised segment">
    <div class="ui grid">
        <aside class="ui four wide column"><img src="images/waterford_greenway.jpg" class="ui medium image"/></aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody>
                {{#each allpois}}
                    <tr>
                        <td> {{name}} </td>
                        <td> {{description}} </td>
                        <td> {{image}} </td>
                        <td> {{longitude}}, {{latitude}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>