<section class="ui raised segment">
    <h2>UPDATE POINT OF INTEREST</h2>
    <form class="ui segment form" action="/update-poi/{{poi._id}}" method="POST">
        <div class="field">
            <label>Name of POI</label>
            <input type="text" name="name" value="{{poi.name}}" required />
        </div>
        <div class="field">
            <label>Description</label>
            <input type="text" name="description" value="{{poi.description}}" />
        </div>
        <div class="field">
            <label>Upload an Image</label>
            <input type="file" name="image" value="{{poi.image}}" />
        </div>
        <div class="one field">
            <label>Location</label>
            <div class="two fields">
                <div class="field">
                    <label>Longitude</label>
                    <input type="number" name="longitude" step="0.01" value="{{poi.longitude}}"required />
                </div>
                <div class="field">
                    <label>Latitude</label>
                    <input type="number" name="latitude" step="0.01" value="{{poi.latitude}}"required />
                </div>
            </div>
        </div>

        <button class="ui blue submit button" value="Upload">UPDATE</button>
    </form>
    {{> error }}
</section>